@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face{
  font-family:'Montserrat-ExtraBold';
  src:url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}



@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply font-body;
    @apply bg-sixth;
    @apply text-tertiary;
    scroll-behavior: smooth;
  }
}
