
@font-face{
  font-family:'GillSansHeavy';
  src:url('./assets/fonts/GillSans/GillSans_Heavy.otf') format('opentype');
}

@font-face{
  font-family:'GillSans';
  src:url('./assets/fonts/GillSans/GillSans.otf') format('opentype');
}

@font-face{
  font-family:'GillSansItalic';
  src:url('./assets/fonts/GillSans/Gill_Sans_Italic.otf') format('opentype');
}

@font-face{
  font-family:'Okemo';
  src:url('./assets/fonts/okemo/okemo.ttf') format('truetype');
}



@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply font-body;
    @apply bg-white;
    @apply text-tertiary;
    scroll-behavior: smooth;
  }
}
